  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.select(:role, User::ROLES.each_with_index.map { |name, index| [name, index + 1] }) %>
  </div>

  <div class="field">
    <%= f.select(:locale, User::LOCALES) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>